.overlay{
	position:absolute;
	padding: 20px;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1000;
	display:none;
}
.mask {
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom: 0;
	width: 100%; 
	height: 100%;
	z-index: 900;
	display:none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed; 
	}
